
[build]
  base = "frontend"
  publish = ".next"
  command = "npm run build"

[functions]
  directory = "../backend/src/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
